@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "DM Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
}
.react-resizable {
  width: 100%;
}
.dark .resize-vertical {
  padding: 12px 12px 25px;
  border: 3px solid rgb(75 85 99);
  border-radius: 0.375rem;
}

.resize-vertical {
  border: 2px solid #e5e7eb;
  padding: 12px 12px 25px;
  margin-top: 40px;
  border-radius: 0.375rem;
}

.resize-horizontal {
  display: flex;
  flex-direction: row;
}
.react-resizable-handle,
.w-md-editor-bar {
  display: block;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
}

.react-resizable-handle-s,
.w-md-editor-bar {
  height: 10px;
  width: 100%;
  cursor: row-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}

.react-resizable-handle-e {
  width: 10px;
  min-width: 10px;
  height: 100%;
  position: relative;
  z-index: 1;
  cursor: col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}
.dark .preview-text-editor {
  background-color: transparent;
  color: white;
}
.preview-editor ul,
.w-md-editor-preview ul {
  list-style-type: disc;
}
.w-md-editor ul {
  line-height: 1;
}
.preview-editor ol,
.w-md-editor-preview ol {
  list-style-type: decimal;
}
.text-editor em {
  font-style: italic;
}

.text-editor .wmde-markdown hr {
  border-top: 1px solid #dee5ed;
}

.text-editor .wmde-markdown ol {
  list-style: decimal;
}

.text-editor .w-md-editor-show-live {
  /* Hide menu bar buttons to prevent accidental delete */
  z-index: 20;
}
.preview-editor-container button {
  width: 100%;

  text-align: unset;
}
.text-editor .w-md-editor-toolbar {
  background-color: #293642;
  border-bottom: 1px solid gray;
}

.text-editor .w-md-editor-toolbar li button {
  color: #d4d4d4;
}

.dark .text-editor .w-md-editor-content {
  background-color: #141b29;
  color: #fff;
}
.dark .text-editor .w-md-editor-content .title {
  color: #fff !important;
}
.dark .preview-editor .code-highlight .code-line {
  color: #333;
}
.dark .w-md-editor-preview .code-highlight .code-line {
  color: #333;
}
.dark .w-md-editor-text-pre .token.content .wmde-markdown blockquote {
  color: #fff !important;
}
.w-md-editor-text-pre > code {
  color: #111 !important;
}
.dark .w-md-editor-text-pre > code {
  color: #fff !important;
}
.dark .w-md-editor-text-pre .punctuation {
  color: #dee5ed !important;
}
.dark .token.comment {
  color: #0cbd0c;
}

.wmde-markdown h1:hover .anchor {
  display: none;
}
.alert-component-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.alert-component-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition:
    opacity,
    transform 300ms;
}

.alert-component-exit {
  opacity: 1;
  transform: translateX(0%);
}

.alert-component-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 300ms;
}
